/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    background: #0D192B;
    line-height: 26px;
    color: #ffffff;
}

/* Styles for container */

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 100vh;
}

.container-details {
    width: 100%;
    max-width: 350px;
    height: 596px;
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
    background-color: #14253D;
}

.image-elements {
    position: relative;
    width: 100%;
    max-width: 288px;
}



.rectangle-copy {
    display: block;
    width: 100%;
    height: auto;
}

.image_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s easy;
    background-color: #00FFFF;
}

/*

.image_overlay:hover {
    opacity: 1;
}

a.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .4s;
}

a.icon:hover {
    visibility: visible;
    opacity: 1;
}

*/

.equilibrium-heading {
    width: 278px;
    min-height: 28px;
    margin-top: 24px;
    margin-right: 1px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
}

.heading-description {
    width: 278px;
    min-height: 52px;
    margin-top: 12px;
    margin-right: 1px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    color: #8BACD9;
}

