/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    position: relative;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    background: #0D192B;
    line-height: 26px;
    color: #ffffff;
}

/* Styles for container */

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 90vh;
}

.container-details {
    width: 100%;
    max-width: 350px;
    height: 596px;
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
    background-color: #14253D;
}

.image-elements {
    position: relative;
    width: 100%;
    max-width: 288px;
    cursor: pointer;
}

.rectangle-copy {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 288px;
    opacity: 0;
    transition: .5s easy;
    background-color: #00FFFF;
    border-radius: 10px;
}

.image_overlay:hover {
    opacity: 0.5;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    text-align: center;
}

.equilibrium-heading {
    width: 278px;
    min-height: 28px;
    margin-top: 24px;
    margin-right: 1px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0;
}

.equilibrium-heading:hover {
    color:#00FFF8;
    cursor: pointer;
}

.heading-description {
    width: 278px;
    min-height: 52px;
    margin-top: 12px;
    margin-right: 1px;
    line-height: 26px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    color: #8BACD9;
}

.group-6{
    display: flex;
    justify-content: space-between;
}

.group-3 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img.combined-shape {
    padding-right: 5px;
}

.combined-shape-description {
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #00FFF8;
    padding-top: 20px;
    padding-bottom: 20px;
}

.group-4 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shape-1 {
    padding-right: 5px;
}

.shape-1-description {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #8BACD9;
}

.rectangle {
    background: #2E405A;
    height: 1px;
}

.group {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.oval {
    width: 33px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-right: 10px;
}

.group p {
    font-size: 15px;
    line-height: 19px;
    color: #8BACD9;
}

.group a {
    text-decoration: none;
    color: #FFFFFF;
}

a {
    transition: .2s easy;
}

a:hover {
    color:#00FFF8;
}

footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.attribution {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    padding-bottom: 30px;
}

.attribution-details,
.challenge-member {
    color: #8BACD9;
}

.attribution a {
    text-decoration: none;
    color: #3366CC;
}



